button{
    width: 200px;
    height: 60px;
}
body{    
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: black;
}

/* form{
    align-items: center;
    text-align: center;
    background: #000; 

} */
input{
    width: 200px;
}
.header{
    height: 200px;
    background: #000;
}