<link rel="stylesheet" href="../static/css/styles.css">
<script src="../static/js/script1.js"></script>
<script src="../static/js/script2.js"></script>
<script src="../static/js/script3.js"></script>
<style>
  body {
    background-color: whitesmoke;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img style="border-radius:10px;" src="../static/images/Design.png" alt="market logo" width="40px"
        height="40px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/add-client"><b>New</b> </a>
        <a class="nav-link active" href="/products"><b>Products</b> </a>
        <a class="nav-link active" href="/list"><b>Clients</b> </a>
        <a class="nav-link active" href="user/profile"><b>Profile</b> </a>
        <a class="nav-link active" href="/contact"><b>Contact</b> </a>
        <a class="nav-link active" href="user/logout"><b>Log Out</b> </a>
      </div>
    </div>
  </div>
</nav>
{% block navbar %}
{% endblock navbar %}